<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../../public/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Mercedes</title>
	<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../public/css/themify-icons.css">
		<link rel="stylesheet" href="../../public/css/bootstrap.css">
		<link rel="stylesheet" href="../../public/css/owl.carousel.css">
		<link rel="stylesheet" href="../../public/css/nice-select.css">
		<link rel="stylesheet" href="../../public/css/nouislider.min.css">
		<link rel="stylesheet" href="../../public/css/ion.rangeSlider.css" />
		<link rel="stylesheet" href="../../public/css/ion.rangeSlider.skinFlat.css" />
		<link rel="stylesheet" href="../../public/css/magnific-popup.css">
		<link rel="stylesheet" href="../../public/css/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><img src="../../public/img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item "><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item active submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								 <ul class="dropdown-menu"1	1>
									<li class="nav-item"><a class="nav-link" href="/category">Shop all cars</a></li>
									<li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
									<li class="nav-item active"><a class="nav-link" href="/single-product-cla">CLA Coupe</a></li>
									<li class="nav-item"><a class="nav-link" href="/single-product-eqe">EQE Saloon</a></li>
									<li class="nav-item"><a class="nav-link" href="/single-product-sl">SL Roadster</a></li>
									<li class="nav-item"><a class="nav-link" href="/single-product-eqa">EQA SUV</a></li>
									<li class="nav-item"><a class="nav-link" href="/coming-soon">Coming Soon</a></li>
								</ul>
							</li>
							
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Account</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
									<li class="nav-item"><a class="nav-link" href="/registration">Register</a></li>
									<li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
									<li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span class="fa fa-shopping-cart">(<%= cartItemCount %>)</span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
							<li class="nav-item active greeting"><a href="/account" class="creat_account"><span class="lnr lnr-user"></span></a>
                                <% if (user) { %>
                                    Hi <%= user.firstName %>
                                  <% } %></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form action="/search" method="GET" class="d-flex justify-content-between">
					<input type="text" name="q" class="form-control" id="search_input" placeholder="Search for cars">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1 >OUR MODELS</h1>
					<nav class="d-flex align-items-center">
						<a href="/">HOME<span class="lnr lnr-arrow-right"></span></a>
						<a href="/category">SHOP ALL CARS<span class="lnr lnr-arrow-right"></span></a>
						<a href="/single-product-cla">CLA COUPÉ</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->

	<div class="product_image_area"> <!--main.css-->
		<div class="container">
			<h1>CLA COUPÉ</h1>
			<h5>PLAY BY YOUR RULES.</h5>
			<br>
			<div class="row s_product_inner">
				<div class="col-lg-10">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<hr>
							<img class="img-fluid" src="../../public/img/cla1.jpeg" alt="">
							<p>Everything that makes you special: The design puts a shine on you. The performance puts you in the fast lane. The interface speaks your language.</p>
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="../../public/img/cla2.jpeg" alt="">
							<p>Forward-inclined front with diamond radiator grille.</p>
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="../../public/img/cla3.jpeg" alt="">
							<p>Widened track.</p>
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="../../public/img/cla4.jpeg" alt="">
							<p>Two-section rear lamps.</p>
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="../../public/img/cla5.jpeg" alt="">
							<p>Frameless doors.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
				<div class="col-lg-6 offset-lg-2">
					<div class="s_product_text">
						<h5 >DESIGN HIGHLIGHTS</h5>
						<hr>
						<h3 class="product-heading">The ideal line. From any angle.</h3>
						<p>Sporty coupé design or four practical doors? No "either or" - you'll find both under the breathtakingly dynamic roof line of the new CLA. A roof line that appears to be in motion even when the vehicle is at a standstill, and surely one of the most lines ever to adorn a Mercedes-Benz.</p>
						<img class="img-fluid" src="../../public/img/cla6.jpeg" alt="" style="width:700px;">
						<br>
						<br>
						<h5 >INTERIOR</h5>
						<hr>
						<h3 class="product-heading">Mercedes-CLA coupé</h3>
						<p>Ready to feel perfectly at home? You can fit out the new CLA just as you wish.</p>
						<h6>INTERIOR HIGHLIGHTS</h6>
						<ul>
							<li>
								<h6 class="bttn">Widescreen cockpit</h6>

								<p class="pfunc1">The so-called Widescreen Cockpit consists of two HD displays behind a seamless glass panel. The media display on the right is a touchscreen which shows all infotainment content and vehicle settings. On the left is the instrument cluster.
								</p>
							</li>
							<li>
								<h6 class="bttn">Driver display</h6>
								<p class="pfunc1"> On the high-resolution driver display (with 31.2 cm (12.3-inch) screen diagonal), you always have all the important information in view. The display in the instrument cluster can be personalised with different display styles, AMG-specific displays and individually selectable main views. The display is easily visible through a visor, even when the sun is shining and the soft top is open.
								</p>
							</li>
							<li>
								<h6 class="bttn">Multifunction sports steering wheel</h6>
								 <p class="pfunc1">The multifunction sports steering wheel not only sets the direction on the road, it networks you with the vehicle and becomes the control centre. Without taking your hands off the steering wheel, you can adjust the speed or distance control and use the touch control buttons on the left and right to operate a wide range of navigation, telephony or entertainment functions.
								 </p>
							</li>
							<li>
								<h6 class="bttn">Comfort seats</h6>
								<p class="pfunc1">The comfort seat offers you good long-distance comfort and comprehensive adjustment options in length and height. You are also able to change the angle of the seat surface, and even lengthen it.
								</p>
							</li>
							<li>
								<h6 class="bttn">ENERGIZING packages</h6>
								<p class="pfunc1">Depending on the selected equipment, different comfort systems are combined to create precisely defined programmes. Lighting mood, music and optional massage seats, for example. The driver can select the different programmes conveniently via touch control.
								</p>
							</li>
							<li>
								<h6 class="bttn">Burmester® surround sound system.</h6>
								<p class="pfunc1">The Burmester® surround sound system offers the option of transforming the interior of your CLA into a concert hall. With you and your passengers in the best seats. Thanks to 12 speakers, a powerful subwoofer and fine-tuned Burmester® sound.
									<img class="img-fluid" src="../../public/img/cla9.jpeg" alt="" style="width:700px;">
								</p>
							</li>
						</ul>  
						<hr >
						<h6 >MBUX</h6>
						<p>Mercedes-Benz User Experience |<br>Digitisation makes so much possible. The most intuitive, cutting-edge way of operating a car.</p>
						<img class="img-fluid" src="../../public/img/cla8.jpeg" alt="" style="width:700px;">
						<hr>
						<ul>
							<li>
								<h6 class="bttn">Augmented Video</h6>
								<p class="pfunc2">The new CLA won't change the world. But it will change the way we see it. With the aid of a special camera, the surrounding area can be shown on the media display as a video or still image. Together with virtual objects or markings, this makes it substantially easier to find destinations, for example. Totally intuitive and pretty intelligent.</p>
							</li>
							<li>
								<h6 class="bttn">LINGUATRONIC voice control system</h6>
								<p class="pfunc2">The new CLA hangs on your every word with the new LINGUATRONIC natural voice control system. It actually understands the vehicle's occupants without having to learn any commands beforehand. And it talks to you. Reading out text messages, or dictating one and sending it? No problem. It can check the weather at your destination, change the radio station or get you home by the fastest route. It takes only two words: "Hey Mercedes". And the new CLA is all ears.</p>
							</li>
							<li>
								<h6 class="bttn">Theme displays</h6>
								<p class="pfunc2">The theme displays allow preset moods to be conjured up for the new CLA at the push of a
									button. The presentations on the Instrument Display and the media display adapt accordingly, as do the
									light mood and the driving mode. And best of all:
									the driver can configure their own individual theme displays.</p>
								</li>
							<li>
								<h6 class="bttn">User action prediction</h6>
								<p class="pfunc2">MBUX makes the new CLA a strong partner. The system keeps learning and above all gets to know the driver a little better every day. It can remember your favourite songs and the way to work. It then tunes in automatically to the right radio station or shows you a faster way if your usual route is congested. All by itself and as a matter of course, if that is what you want.s</p>
							</li>
						</ul> 
						<hr >
						<h6 >Cutting-edge interior in "wrap-around" design.</h6>
						<p>Indulge in a "cocooned" feeling. Smooth transitions between instrument panel, centre console and door trims create the pleasant "wrap-around" design. This is without parallel for this category of vehicle, as is the selection of trim elements and the ambient lighting featuring up to 64 colours to show off every detail to best advantage.</p>
						<img class="img-fluid" src="../../public/img/cla10.jpeg" alt="" style="width:700px;">
						<hr>
						<h6 >Heated steering wheel.</h6>
						<p>DA heated steering wheel is a rarity in this class of vehicle. But once you have one, you won't ever want to do without it again. The leather can be heated to several levels to offer a blissfully warm welcome for cold hands on cold days.</p>
						<img class="img-fluid" src="../../public/img/cla11.jpeg" alt="" style="width:700px;">
						<hr>
						<h6 >Climate-controlled front seats.</h6>
						<p>Stay cool. In the new CLA, all it takes is the push of a button. The optional climate-controlled front seats make hot days and nights even more enjoyable.</p>
						<img class="img-fluid" src="../../public/img/cla12.jpeg" alt="" style="width:700px;">
						<hr>
						<h5 >SAFETY HIGHLIGHTS</h5>
						<hr >
						<h3 class="product-heading">Ready to give their all: the safety systems</h3>
						<p>During rush hour, on long drives at night or on unfamiliar routes, your CLA Coupé noticeably takes the strain out of driving, particularly in stressful situations. This is based on a concept that makes every journey in a Mercedes-Benz safer and unique: Mercedes-Benz Intelligent Drive. Because the time you spend behind the wheel is your time. Time for relaxation. Time to replenish your energy. So that, first and foremost, you reach your destination safely, but are also relaxed when you get there.</p>
						<ul>
							<li>
								<h6 class="bttn">Driving Assistance packages</h6>
								<p class="pfunc3">The Driving Assistance package combines the assistance and safety systems. This way, dangers can be recognised, warnings displayed, and braking manoeuvres can be initiated in an emergency.
									<br>Safe and relaxed on the road. On the road to autonomous driving, state-of-the-art sensor systems assist you in steering, lane changing or adjusting the vehicle's speed. In the event of an impending collision, they can even intervene and brake the vehicle.</p>
							</li>
							<li>
								<h6 class="bttn">Active Brake Assist with cross-traffic function</h6>
								<p class="pfunc3">In dangerous situations and at speeds of up to 60 km/h the innovative cross-traffic function can recognise crossing traffic and crossing pedestrians and help to prevent collisions. The tailback emergency braking function can recognise stationary vehicles and bring your vehicle to a standstill in good time.</p>
							</li>
							<li>
								<h6 class="bttn">PRE-SAFE® system</h6>
								<p class="pfunc3">The PRE-SAFE® system makes use of the time prior to an impending impact to help reduce the levels of stress to which you will be exposed. In dangerous situations, for example, PRE-SAFE® tightens the driver's and passenger's seat belts as a precaution, or moves the passenger seat to a more favourable position for a possible collision.</p>
							</li>
							<li>
								<h6 class="bttn">MULTIBEAM LED</h6>
								<p class="pfunc3">Recognise hazards before they become a danger to you: the MULTIBEAM LED headlamps are not only a highlight in terms of design. They also illuminate the road better than any conventional headlamps. The MULTIBEAM LED headlamps provide a clear view of what's ahead in almost any situation. By adapting their light pattern to the vehicle's surroundings or weather conditions automatically in a fraction of a second. They provide for especially precise illumination spanning a particularly broad area without dazzling other road users.
								</p>
							</li>
							<li>
								<h6 class="bttn">Parking Package with reversing camera</h6>
								<p class="pfunc3">With this package you will even master tight parking spaces effortlessly. Convenient: Active Parking Assist already searches for a suitable parking space and then helps you to park in it. More calmness is also the motto for the reversing camera, with which expensive body damage can be avoided, thanks to the good overview to the rear.
									<br>
									<br>
									Features:
									<br>
									- Active Parking Assist with visual and audible warning of detected obstacles, arrowed display of identified parking spaces in the instrument cluster, assisted manoeuvring into and out of parallel and end-on parking spaces
									<br>
									- Reversing camera in the boot lid: image shown on in the multimedia display with schematic representation and guide lines
									<br>
									- Ultrasound sensors: positioned in the front and rear bumpers</p>
							</li>
							<li>
								<h6 class="bttn">Anti-Theft Protection package</h6>
								<p class="pfunc3">The Anti-Theft Protection package combines a number of security features that improve protection for both your vehicle and any valuables in the interior. It gives both an audible and visual warning when it detects a break-in, attempted theft and unwanted towing away.
									<br>
									<br>
									Components:
									<br>
									- Anti-theft alarm system
									<br>
									- Tow-away protection with visual and acoustic warning when a change in position is detected
									<br>
									- Alarm siren
									<br>
									- Interior monitoring system (triggered when there is movement in the interior)
									<br>
									- Preinstallation for parking damage notification</p>
							</li>
						</ul> 
						<hr> 
						<img class="img-fluid" src="../../public/img/cla7.jpeg" alt="" style="width:700px;">
						<hr >
						<div class="price_list">
							<a class="primary-btn" href="mercedes-benz-cla-price-list.pdf" download>Price list</a>
						</div>
						<br>
						<div class="price_list">
							<a class="primary-btn" href="/contact">Request a Test Drive</a>
							
						</div>
					</div>
				</div>
			<!-- </div>
		</div>
		<br>
	</div> -->
	<!--================End Single Product Area =================-->


<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Welcome to the Mercedes-Benz garage of the future, where state-of-the-art technology and unparalleled service come together. 
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">
						<form action="/" method="get" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter Email '" required="" type="email">


                                <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                        type="text">
                                </div>

                                <!-- <div class="col-lg-4 col-md-4">
                                                <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                                            </div>  -->
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="../../public/img/i1.png" alt=""></li>
                        <li><img src="../../public/img/i2.png" alt=""></li>
                        <li><img src="../../public/img/i3.png" alt=""></li>
                        <li><img src="../../public/img/i4.png" alt=""></li>
                        <li><img src="../../public/img/i5.png" alt=""></li>
                        <li><img src="../../public/img/i6.png" alt=""></li>
                        <li><img src="../../public/img/i7.png" alt=""></li>
                        <li><img src="../../public/img/i8.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="single-footer-widget">
						<h6>Mercedes Stock Price</h6>
						<p id="stock-price">Loading...</p>
						<p id="stock-change">Loading...</p>
					</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
</p>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="../../public/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
 crossorigin="anonymous"></script>
<script src="../../public/js/vendor/bootstrap.min.js"></script>
<script src="../../public/js/jquery.ajaxchimp.min.js"></script>
<script src="../../public/js/jquery.nice-select.min.js"></script>
<script src="../../public/js/jquery.sticky.js"></script>
<script src="../../public/js/nouislider.min.js"></script>
<script src="../../public/js/jquery.magnific-popup.min.js"></script>
<script src="../../public/js/owl.carousel.min.js"></script>
<script src="../../public/js/main.js"></script>
<script src="../../public/js/stock.js"></script>
</body>

</html>