<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../../public/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Mercedes</title>
<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../public/css/themify-icons.css">
		<link rel="stylesheet" href="../../public/css/bootstrap.css">
		<link rel="stylesheet" href="../../public/css/owl.carousel.css">
		<link rel="stylesheet" href="../../public/css/nice-select.css">
		<link rel="stylesheet" href="../../public/css/nouislider.min.css">
		<link rel="stylesheet" href="../../public/css/ion.rangeSlider.css" />
		<link rel="stylesheet" href="../../public/css/ion.rangeSlider.skinFlat.css" />
		<link rel="stylesheet" href="../../public/css/magnific-popup.css">
		<link rel="stylesheet" href="../../public/css/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><img src="../../public/img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item "><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item active submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								 <ul class="dropdown-menu"1	1>
									<li class="nav-item"><a class="nav-link" href="/category">Shop all cars</a></li>
									<li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
									<li class="nav-item"><a class="nav-link" href="/single-product-cla">CLA Coupe</a></li>
									<li class="nav-item"><a class="nav-link" href="/single-product-eqe">EQE Saloon</a></li>
									<li class="nav-item"><a class="nav-link" href="/single-product-sl">SL Roadster</a></li>
									<li class="nav-item active"><a class="nav-link" href="/single-product-eqa">EQA SUV</a></li>
									<li class="nav-item"><a class="nav-link" href="/coming-soon">Coming Soon</a></li>
								</ul>
							</li>
							
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Account</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
									<li class="nav-item"><a class="nav-link" href="/registration">Register</a></li>
									<li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
									<li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span class="fa fa-shopping-cart">(<%= cartItemCount %>)</span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
							<li class="nav-item active greeting"><a href="/account" class="creat_account"><span class="lnr lnr-user"></span></a>
                                <% if (user) { %>
                                    Hi <%= user.firstName %>
                                  <% } %></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form action="/search" method="GET" class="d-flex justify-content-between">
					<input type="text" name="q" class="form-control" id="search_input" placeholder="Search for cars">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1 >OUR MODELS</h1>
					<nav class="d-flex align-items-center">
						<a href="/">HOME<span class="lnr lnr-arrow-right"></span></a>
						<a href="/category">SHOP ALL CARS<span class="lnr lnr-arrow-right"></span></a>
						<a href="/single-product-cla">EQA SUV</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area"> 
		<div class="container">
			<h1 >EQA SUV</h1>
			<h5>THIS IS FOR THE NEW GENERATION.</h5>
			<br>
			<div class="row s_product_inner">
				<div class="col-lg-10">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<hr >
							<img class="img-fluid" src="../../public/img/eqa5.jpeg" alt="">
							<p>Sporty modernity redefined.</p>
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="../../public/img/eqa6.jpeg" alt="">
							<p>Room for more. With optional third row of seats.</p>
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="../../public/img/eqa2.jpeg" alt="">
							<p>Anything but usual.</p>
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="../../public/img/eqa3.jpeg" alt="">
							<p>Leaves everything else far behind.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
				<div class="col-lg-6 offset-lg-2">
					<div class="s_product_text">
						<h5 >DESIGN HIGHLIGHTS</h5>
						<hr>
						<h3>Makes an electrifying first impression.</h3>
						</p>With new, distinctive design elements the EQA showcases the new, electric mobility
						lifestyle.</p>
						<img class="img-fluid" src="../../public/img/eqa1.jpeg" alt="" style="width:700px;">
						<br>
						<br>
						<h5>COMFORT AND SAFETY</h5>
						<hr>
						<h3>Effortlessly superior. Safe. EQA.</h3>
						<p>The comfort-enhancing equipment and safety systems in the EQA ensure an excellent, electric driving experience.</p>
						<p>MBUX stands for Mercedes-Benz User Experience and simply means: your EQA is intelligent and intuitively controllable via the large high-resolution screens whose content you determine yourself. Control is by hand gesture, touch or speech. With the words "Hey Mercedes" you activate MBUX and express your wishes. Interfaces for smartphone and digital media also ensure unique infotainment.</p>
						<h6 >SAFETY HIGHLIGHTS</h6>
						<br>
						<ul>
							<li>
								<h6 class="bttn">MBUX Interior Assistant</h6>
								<img class="img-fluid" src="../../public/img/eqa7.jpeg" alt="" style="width:700px;">
								<p class="pfunc1">Enjoy contactless operating comfort: this innovative system detects and interprets your hand and arm movements. This means you can activate selected functions in a matter of seconds. As soon as your hand gets close to the touchscreen or touchpad, the MBUX Interior Assistant enlarges certain control elements on the media display or highlights them.
								</p>
							</li>
							<li>
								<h6 class="bttn">Voice control</h6>
								<img class="img-fluid" src="../../public/img/eqa8.jpeg" alt="" style="width:700px;">
								<p class="pfunc1">Say "Hey Mercedes" and your MBUX system awaits your commands. Personal profiles, predictive functions and a WiFi hotspot completely redefine the term digital networking. Thanks to its comprehension of natural speech, the LINGUATRONIC system in MBUX obeys practically every word.
								</p>
							</li>
							<li>
								<h6 class="bttn">Touch control</h6>
								<img class="img-fluid" src="../../public/img/eqa9.jpeg" alt="" style="width:700px;">
								 <p class="pfunc1">Operate the MBUX multimedia system as you prefer at the time. The touch function of the media display is particularly intuitive – easily understood symbols guide you direct to the destination. Or you can enter commands via the ergonomic Touch Control buttons.
								</p>
							</li>
							<li> 
								<h6 class="bttn">Display styles</h6>
								<img class="img-fluid" src="../../public/img/eqa10.jpeg" alt="" style="width:700px;">
								<p class="pfunc1">You decide which information the intelligent multimedia system displays. And also in which style: Modern Classic, Sport or with Progressive even with informative colour changes. Depending on your mood, you can select the display style on the fully digital Instrument Display.
								</p>		
							</li>
							<li>
								<h6 class="bttn">Intelligent thermal management</h6>
								<img class="img-fluid" src="../../public/img/eqa11.jpeg" alt="" style="width:700px;">
								<p class="pfunc1">The intelligent thermal management of the EQA with pre-entry climate control means that you neither have to scrape windows nor climb into a cool vehicle in the mornings. In the summer, meanwhile, the vehicle interior can be cooled down to a pleasant temperature before the start of the journey. Simply enter the departure time via MBUX or via the Mercedes me App – and you can already look forward to a pleasant journey.
								</p>
							</li>
						</ul>  
						<h3>Gets you to your destination safely.</h3>
						<p>The intelligent driving assistance systems in the EQA think for themselves, have a eye on the traffic situation and can warn the driver of dangers in certain situations. Occupants and other road users are protected effectively – even when you have already reached your destination, for example, via the exit warning function.
						</p>
						<hr> 
						<img class="img-fluid" src="../../public/img/eqa4.jpeg" alt="" style="width:700px;">
						<hr>				
						<h5>INTERIOR HIGHLIGHTS</h5>
						<hr>
						<h3>The interior of the Mercedes-EQ EQA.</h3>
						<p>Find out more about the interior highlights of the EQA. Individualise the interior to your taste, for example with the ambient lighting and various trim elements. The comfort seats and multifunction sport steering wheel make your journey particularly comfortable. In addition to the individual interior features, you can also choose from optional equipment lines such as Electric Art or AMG Line.
						</p>
						<img class="img-fluid" src="../../public/img/eqa12.jpeg" alt="" style="width:700px;">
						<ul>
							<li>
								<h6 class="bttn">Multifunction sport steering wheel</h6>
								<img class="img-fluid" src="../../public/img/eqa13.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">The multifunction sport steering wheel finished in elegant leather connects you with the vehicle and becomes a control centre. With the touch control buttons on the left and right, various navigation, telephony and entertainment functions can be controlled. You can also set the speed or distance control here.
								</p>
							</li>
							<li>
								<h6 class="bttn">Door sill panels with EQA lettering</h6>
								<img class="img-fluid" src="../../public/img/eqa14.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">Even getting in and out becomes an experience in itself. To this end, with the Electric Art interior the high-quality stainless steel panels are illuminated with distinctive "EQA" lettering in blue.
								</p>
							</li>
							<li>
								<h6 class="bttn">Interior trim</h6>
								<img class="img-fluid" src="../../public/img/eqa15.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">The backlit trim lends your interior a futuristic flair. In conjunction with the ambient lighting, the spiral-look trim on the dashboard shines in your preferred colour. The translucent, filigree-patterned surface creates a unique effect, particularly at night.
								</p>
							</li>
							<li>
								<h6 class="bttn">Ambient lighting</h6>
								<img class="img-fluid" src="../../public/img/eqa16.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">Showcase the interior according to your personal preferences or current mood. The 64 colours create fascinating colour themes that alternate dynamically or glow in the colour of your choice. The optional, spectacularly backlit trim element is a real highlight and emblematic of technological progress.
								</p>
							</li>
							<li>
								<h6 class="bttn">Comfort seats with 4-way lumbar support</h6>
								<img class="img-fluid" src="../../public/img/eqa17.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">The comfort seats offer you good comfort on long journeys and comprehensive fore/aft and height adjustments. You can change the angle of the seat surfaces and even extend them. The 4-way lumbar support adjusts the seat contour to your lumbar area and provides support.
								</p>
							</li>
						</ul> 
						<hr> 
						<h5>EXTERIOR HIGHLIGHTS</h5>
						<hr>
						<h3>The interior of the Mercedes-EQ EQA.</h3>
						<p>Find out more about the interior highlights of the EQA. Individualise the interior to your taste, for example with the ambient lighting and various trim elements. The comfort seats and multifunction sport steering wheel make your journey particularly comfortable. In addition to the individual interior features, you can also choose from optional equipment lines such as Electric Art or AMG Line.
						</p>
						<ul>
							<li>
								<h6 class="bttn">Rear end design</h6>
								<img class="img-fluid" src="../../public/img/eqa18.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">Width-emphasising rear: an elegantly curved light band blends into the finely contoured LED rear lights. Thanks to their positioning well to the outside, the tailgate aperture is very wide and increases the utility value of the EQA.
								</p>
							</li>
							<li>
								<h6 class="bttn">Polished aluminium roof rails</h6>
								<img class="img-fluid" src="../../public/img/eqa19.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">The roof rails serve as an "on-top" transport option: you can conveniently and safely mount various roof rack systems on them. Thanks to their high-quality polished aluminium finish, they are not only practical but a design feature as well.
								</p>
							</li>
							<li>
								<h6 class="bttn">Panoramic sliding sunroof</h6>
								<img class="img-fluid" src="../../public/img/eqa20.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">With the panoramic sliding sunroof, you experience a wonderful feeling of freedom and enjoy a pleasantly bright ambience in the interior.
								</p>
							</li>
							<li>
								<h6 class="bttn">50.8-cm (20-inch) light-alloy wheels</h6>
								<img class="img-fluid" src="../../public/img/eqa21.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">Anything but usual: the wheels of the EQA.
								</p>
							</li>
							<li>
								<h6 class="bttn">LED high-performance headlamps</h6>
								<img class="img-fluid" src="../../public/img/eqa22.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">The LED high-performance headlamps and Adaptive Highbeam Assist can switch on the main beams when they detect no vehicles ahead or oncoming traffic.
								</p>
							</li>
							<li>
								<h6 class="bttn">Black panel radiator grille with LED light band</h6>
								<img class="img-fluid" src="../../public/img/eqa23.jpeg" alt="" style="width:700px;">
								<p class="pfunc2">The exterior the EQA is characterised by the Black Panel radiator grille and blue elements in the LED headlamps.
								</p>
							</li>
						</ul> 
						<hr> 
						<img class="img-fluid" src="../../public/img/eqa24.jpeg" alt="" style="width:700px;">
						<hr >
						<div class="price_list">
							<a class="primary-btn" href="mercedes-benz-eqa-price-list.pdf" download>Price list</a>
						</div>
						<br>
						<div class="price_list">
							<a class="primary-btn" href="/contact">Request a Test Drive</a>
							
						</div>
					</div>
				</div>
	<!--================End Single Product Area =================-->

<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Welcome to the Mercedes-Benz garage of the future, where state-of-the-art technology and unparalleled service come together. 
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">
						<form action="/" method="get" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter Email '" required="" type="email">


                                <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                        type="text">
                                </div>

                                <!-- <div class="col-lg-4 col-md-4">
                                                <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                                            </div>  -->
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="../../public/img/i1.png" alt=""></li>
                        <li><img src="../../public/img/i2.png" alt=""></li>
                        <li><img src="../../public/img/i3.png" alt=""></li>
                        <li><img src="../../public/img/i4.png" alt=""></li>
                        <li><img src="../../public/img/i5.png" alt=""></li>
                        <li><img src="../../public/img/i6.png" alt=""></li>
                        <li><img src="../../public/img/i7.png" alt=""></li>
                        <li><img src="../../public/img/i8.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="single-footer-widget">
						<h6>Mercedes Stock Price</h6>
						<p id="stock-price">Loading...</p>
						<p id="stock-change">Loading...</p>
					</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
</p>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="../../public/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
 crossorigin="anonymous"></script>
<script src="../../public/js/vendor/bootstrap.min.js"></script>
<script src="../../public/js/jquery.ajaxchimp.min.js"></script>
<script src="../../public/js/jquery.nice-select.min.js"></script>
<script src="../../public/js/jquery.sticky.js"></script>
<script src="../../public/js/nouislider.min.js"></script>
<script src="../../public/js/jquery.magnific-popup.min.js"></script>
<script src="../../public/js/owl.carousel.min.js"></script>
<script src="../../public/js/main.js"></script>
<script src="../../public/js/stock.js"></script>
</body>

</html>